
<section class="u-align-center u-clearfix u-section-4" id="carousel_3cf9">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-1"> Design &amp; Construction that puts your needs first</h2>
      <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-align-right u-bottom-left-radius-37 u-container-style u-layout-cell u-left-cell u-palette-2-base u-shape-round u-size-40 u-top-right-radius-37 u-layout-cell-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <div class="u-border-7 u-border-white u-line u-line-horizontal u-line-1"></div>
                    <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-3"> We are an architecture design agency</h2>
                  </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1" data-image-width="735" data-image-height="980">
                  <div class="u-container-layout u-container-layout-2"></div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-2" data-image-width="1170" data-image-height="780">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
                <div class="u-bottom-left-radius-20 u-container-style u-grey-90 u-layout-cell u-right-cell u-shape-round u-size-40 u-top-right-radius-20 u-layout-cell-4">
                  <div class="u-container-layout u-container-layout-4">
                    <p class="u-text u-text-4"> You may be looking for an architecture design services firm or architecture design company for residential projects. Our Studio is an architecture design company that can give you the best designs that you can ever think of. </p>
                    <a href="https://nicepage.com/k/parking-html-templates" class="u-active-white u-align-center u-border-none u-bottom-left-radius-20 u-btn u-btn-round u-button-style u-hover-white u-palette-2-base u-top-right-radius-20 u-btn-1">learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="u-align-right u-clearfix u-image u-shading u-section-5" id="carousel_07f4" data-image-width="1624" data-image-height="1080">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
      <div class="u-palette-2-base u-shape u-shape-circle u-shape-1"></div>
      <div class="u-align-right u-container-style u-group u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h2 class="u-text u-text-body-alt-color u-text-1">Design and architecture</h2>
          <p class="u-text u-text-body-alt-color u-text-default u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
          <a href="https://nicepage.com/templates" class="u-active-white u-align-center u-border-none u-bottom-left-radius-20 u-btn u-btn-round u-button-style u-hover-white u-palette-2-base u-top-right-radius-20 u-btn-1">learn more</a>
          
        </div>
      </div>
    </div>
  </section>
  
<section class="u-clearfix u-section-6" id="carousel_d634">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
      <img class="u-image u-image-1" src="{%static 'img/photo-1449157291145-7efd050a4d0e.jpg'%}" data-image-width="1170" data-image-height="780">
      <img class="u-image u-image-2" src="{%static 'img/hg.jpg'%}" data-image-width="1170" data-image-height="780">
      <img class="u-border-20 u-border-white u-image u-image-3" src="{%static 'img/photo-1637343501803-ad3a827664c5.jpg'%}" data-image-width="736" data-image-height="981">
      <div class="u-align-left u-container-style u-expanded-width-xs u-group u-white u-group-1">
        <div class="u-container-layout u-valign-bottom u-container-layout-1"><span class="u-icon u-icon-circle u-text-palette-2-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cd0e"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-cd0e" style="enable-background:new 0 0 512 512;"><g><g><g><polygon points="352,96 352,128 480,128 480,224 512,224 512,96 			"></polygon><rect x="480" y="256" width="32" height="32"></rect><rect x="480" y="320" width="32" height="32"></rect><path d="M480,480H64c-17.673,0-32-14.327-32-32c0-17.673,14.327-32,32-32s32,14.327,32,32h32V128h48V96h-48V64
              c0-35.346-28.654-64-64-64S0,28.654,0,64v384c0,35.346,28.654,64,64,64h448V384h-32V480z M32,64c0-17.673,14.327-32,32-32
              s32,14.327,32,32v328.592c-19.934-10.929-44.066-10.929-64,0V64z"></path><path d="M191.184,309.056L224.864,208H288v112h32V32h-32V0h-32v32h-32v77.392l-63.184,189.552L191.184,309.056z M256,64h32v32
              h-32V64z M251.536,128H288v48h-52.464L251.536,128z"></path><path d="M200.128,346l-29.648,12c29.85,73.715,113.805,109.274,187.52,79.424c73.715-29.85,109.274-113.805,79.424-187.52
              c-14.632-36.135-43.29-64.792-79.424-79.424l-12,29.664c57.327,23.234,84.965,88.541,61.731,145.867
              c-23.234,57.327-88.541,84.965-145.867,61.731C233.78,396.36,211.507,374.085,200.128,346z"></path><rect x="288" y="352" width="32" height="32"></rect><rect x="352" y="288" width="32" height="32"></rect>
</g>
</g>
</g></svg></span>
          <h3 class="u-text u-text-1"> We create embedded architecture</h3>
          <p class="u-text u-text-2">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien.&nbsp;<i></i>
          </p>
          
          <a href="https://nicepage.com/c/medicine-science-html-templates" class="u-border-3 u-border-active-palette-1-dark-2 u-border-hover-palette-1-dark-2 u-border-palette-2-base u-bottom-left-radius-10 u-btn u-btn-round u-button-style u-none u-text-palette-1-base u-top-right-radius-10 u-btn-2" target="_blank">learn more</a>
        </div>
      </div>
    </div>
  </section>