{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row" style="display: flex; justify-content: center;align-items: center;">
    <div class="col-md-8 text-center">
        <h3>About DMFT</h3>
        <p style="text-align: justify;">District Mineral Foundation (DMFT) is a trust set up as a non-profit body, in districts like Latehar, affected by mining works. This has been set up to work for the interest and benefit of persons and areas affected by mining-related operations. It is funded through royalty contributions from mining companies. It was mandated through the Mines and Minerals (Development & Regulation) Amendment Act, (MMDRA) 2015. In this regard, DMF Trust Latehar was registered on 25/02/2016 and is continuing to work for the developmental needs of people affected by various mining operations.
            Further, DMFT Latehar is implementing Pradhan Mantri KhanijKshetra Kalyan Yojana (PMKKKY), the overall objective of the PMKKKY scheme is to implement various developmental and welfare projects/programs in mining-affected areas. In this manner, DMFT Latehar would attempt to minimize the adverse impacts of mining on directly or indirectly affected people of the district.
            DMFT has been pursuing these objectives in the letter and spirit by working as per the needs of people affected by mining. A bottom-up approach has been adopted and Panchayat representatives have come forward with the proposals passed by Gram Sabhas in Governing Council meetings. Projects in drinking water, sanitation and hygiene, education, healthcare, irrigation, the welfare of women and children and infrastructure have been taken up till now to achieve the mandate of DMFT in mining areas of Latehar. </p>
    </div>
</div>

{%endblock%}