{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="u-align-center u-clearfix u-palette-1-base u-section-7" id="carousel_aeb2" style="min-height: auto!important;">
    <!-- <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1"></div> -->
    <!-- <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-body-color u-text-default u-text-1 " >Press Release</h2> -->
    <div class="u-list u-list-1" style="width: 600px;">
      <div class="u-repeater u-repeater-1" style="display: flex; flex-wrap: wrap;justify-content: space-around;align-items: center;">
        <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1" style="margin-bottom: 10px; width: 100%;">
           
 <div class="container-fluid text-center my-3">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{%static 'img/press/press1.jpeg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{%static 'img/press/press2.jpeg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{%static 'img/press/press3.jpeg'%}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>
      </div>
    </div>
    
  </section>


  {%endblock%}