{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="u-align-center u-clearfix u-palette-1-base u-section-8" id="carousel_5926">
        <div class="u-align-left u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h2 class="u-text u-text-1"> Our projects are examples of attitudes rather than designs</h2>
            <p class="u-text u-text-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt molli.&nbsp;<br>
              
            </p>
            <a href="https://nicepage.com/k/aesthetic-website-templates" class="u-active-white u-align-left u-border-none u-bottom-left-radius-20 u-btn u-btn-round u-button-style u-hover-white u-palette-2-base u-top-right-radius-20 u-btn-2">learn more</a>
          </div>
        </div>
        <img class="u-expanded-width u-image u-image-1" data-image-width="1920" data-image-height="1080" src="{%static 'img/dear.jpg'%}">
        <div class="u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-bottom-left-radius-20 u-container-style u-list-item u-repeater-item u-shape-round u-top-right-radius-20 u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img class="u-bottom-left-radius-20 u-expanded-width u-image u-image-round u-top-right-radius-20 u-image-2" src="{%static 'img/photo-1496851473196-e26508c21494.jpg'%}" alt="" data-image-width="500" data-image-height="667">
                <h6 class="u-text u-text-3"> Industrial<br>&amp; Research
                </h6>
                <p class="u-text u-text-4"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                <a href="https://nicepage.cc" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-btn u-button-style u-hover-none u-none u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-btn-3">more</a>
              </div>
            </div>
            <div class="u-align-left u-bottom-left-radius-20 u-container-style u-list-item u-repeater-item u-shape-round u-top-right-radius-20 u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img class="u-bottom-left-radius-20 u-expanded-width u-image u-image-round u-top-right-radius-20 u-image-3" src="{%static 'img/photo-1509018877337-3af7dd307ea9.jpg'%}" alt="" data-image-width="500" data-image-height="333">
                <h6 class="u-text u-text-5"> unique<br>designs
                </h6>
                <p class="u-text u-text-6"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                <a href="https://nicepage.cc" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-btn u-button-style u-hover-none u-none u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-btn-4">more</a>
              </div>
            </div>
            <div class="u-align-left u-bottom-left-radius-20 u-container-style u-list-item u-repeater-item u-shape-round u-top-right-radius-20 u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <img class="u-bottom-left-radius-20 u-expanded-width u-image u-image-round u-top-right-radius-20 u-image-4" src="{%static 'img/photo-1462899006636-339e08d1844e.jpg'%}" alt="" data-image-width="500" data-image-height="333">
                <h6 class="u-text u-text-7">Future<br>Technology
                </h6>
                <p class="u-text u-text-8"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                <a href="https://nicepage.cc" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-btn u-button-style u-hover-none u-none u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-btn-5">more</a>
              </div>
            </div>
            <div class="u-align-left u-bottom-left-radius-20 u-container-style u-list-item u-repeater-item u-shape-round u-top-right-radius-20 u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <img class="u-bottom-left-radius-20 u-expanded-width u-image u-image-round u-top-right-radius-20 u-image-5" src="{%static 'img/photo-1512403754473-27835f7b9984.jpg'%}" alt="" data-image-width="500" data-image-height="700">
                <h6 class="u-text u-text-9">Urban<br>Architecture
                </h6>
                <p class="u-text u-text-10"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                <a href="https://nicepage.cc" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-btn u-button-style u-hover-none u-none u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-btn-6">more</a>
              </div>
            </div>
          </div>
        </div>
      </section>
  {%endblock%}